# 1: Unique Words in a Sentence

In [1]:


# Taking input from user
sentence = input("Enter sentence: ")

# Step 1: Split sentence into words
words = sentence.split()

# Step 2: Convert list to set (removes duplicates)
unique_words = set(words)

# Step 3: Print results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence:  A Python is a highlevel interpreted language used for data science

Unique words count: 11
Unique words: {'interpreted', 'is', 'Python', 'highlevel', 'data', 'used', 'for', 'a', 'language', 'science', 'A'}

# 2. Highest Salary from Employee Data

In [3]:
# Employee dictionary
employees = {
    "Amar": 90000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find employee with highest salary
highest_employee = max(employees, key=employees.get)

# Print result
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Amar - 90000

# 3.Find Maximum and Minimum Values

In [6]:
# Given list
numbers = [55,69,58,78,96,26]

# Step 1: Initialize max and min with first element
maximum = numbers[0]
minimum = numbers[0]

# Step 2: Loop through list
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

# Step 3: Print results
print("List:", numbers)
print("Maximum Value from list:", maximum)
print("Minimum Value from list:", minimum)

List: [55, 69, 58, 78, 96, 26]
Maximum Value from list: 96
Minimum Value from list: 26

# 4.Count Products Above a Price Threshold

In [5]:

# Given list of product prices
prices = [550, 1300, 899, 1400, 1400]

# Counter variable
count = 0

# Loop through prices
for price in prices:
    if price > 1000:
        count += 1

# Print result
print("Products above 1000:", count)

Products above 1000: 3

# 5. Calculate Attendance Percentage

In [7]:
# Given attendance list
attendance = ["P", "P", "A", "A", "A"]

# Step 1: Count total days
total_days = len(attendance)

# Step 2: Count number of Present days
present_count = 0

for day in attendance:
    if day == "P":
        present_count += 1

# Step 3: Calculate percentage
attendance_percentage = (present_count / total_days) * 100

# Step 4: Print result
print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 40.0

# 6. Remove Duplicate Phone Numbers

In [8]:
# Given list of phone numbers
phone_numbers = [9876595810, 9695841123, 9695841123]
# Convert list to set (removes duplicates)
unique_numbers = set(phone_numbers)

# Print result
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876595810, 9695841123}

# 7. Count Character Frequency

In [9]:


# Given string
text = "Dictionary"

# Empty dictionary to store frequency
char_count = {}

# Loop through each character
for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

# Print result
print(char_count)

{'D': 1, 'i': 2, 'c': 1, 't': 1, 'o': 1, 'n': 1, 'a': 1, 'r': 1, 'y': 1}

# 8. Convert List to Tuple

In [10]:


# Given list
numbers = [40, 60, 30]

# Convert list to tuple
numbers_tuple = tuple(numbers)

# Print result
print("Tuple:", numbers_tuple)

Tuple: (40, 60, 30)

# 9. Check if a Key Exists in a Dictionary

In [11]:
# Given dictionary
employees = {
    "Ankit": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Key to check
key_to_check = "Ravi"

# Check if key exists
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee does not exist

# 10.  Calculate Average Marks

In [12]:
# Given list of marks
marks = [65, 80, 85, 75]

# Step 1: Calculate total marks
total = sum(marks)

# Step 2: Calculate number of subjects
count = len(marks)

# Step 3: Calculate average
average = total / count

# Print result
print("Average Marks:", average)

Average Marks: 76.25